@{
    ViewData["Title"] = "Demo";
}

<form asp-action="Index">
    <label>Text:</label>
    <input type="text" name="Text" />
    <input type="submit" value="Gửi dữ liệu" />
</form>

<h1>@ViewData["Message"]</h1>