@{
    ViewData["Title"] = "HeThongPhanPhoi";
}

<form asp-action="Index">
    <label>Mã:</label>
    <input type="text" name="MaHTPP" />
    <label>Tên hệ thống phân phối:</label>
    <input type="text" name="TenHTPP" />
    <input type="submit" value="Gửi dữ liệu" />
</form>

<h1>@ViewData["Message"]</h1>